body {
  background: #c6ccc6;
  margin: 0px;
}
.top {
  width: 100%;
  height: 70px;
  margin: 0px;
  background:#008080 ;
  padding: 0px;
  position: fixed;
  border-radius: 1.5px;
  display: flex;
}
.logoImage {
  height: 50px;
  margin-top: 10px;
  margin-left: 620px;
  border-radius: 10px;
}
img:hover {
  cursor: pointer;
}

.navigationTabs {
  display: flex;
  margin-left: px;
}
.tab {
  margin: 25px 50px;
  color: white;
  list-style-type: none;
  font-size: 25px;
  height: 25px;
  width: 70px;
  border-radius: 3px;
  text-align: center;
  
}
li:hover {
  background-color: #2f312f;
  cursor: pointer;
  font-size: larger;
}

.signUp:hover {
  color: aliceblue;
}
.login:hover {
  color: aliceblue;
}
.home {
  position: absolute;
  width: 90%;
  margin: 120px;
  display: flex;
}

.leftContainer {
  position: relative;
  /* background-color: rgb(205, 216, 216); */
  width: 45%;
}
.rightContainer {
  position: relative;
  /* background-color: rgb(35, 106, 168); */
  width: 55%;
}
.mission {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.75rem;
  font-weight: 400;
  line-height: 3.5rem;
  padding-bottom: 0.5em;
}
.underMission {
  font-family: Arial, Helvetica, sans-serif;
  color: #595a59;
}
.fieldsForm {
  width: 320px;
  margin-left: 10%;
  margin-top: 3%;
}
.fields {
  display: flex;
  margin-top: 32px;
}
.labels {
  font-family: Arial, Helvetica, sans-serif;
  width: 20%;
  font-size: 20px;
  padding: 4px;
  font-weight: lighter;
}
.inputFields {
  width: 80%;
  padding: 4px;
  border-radius: 6px;
}
.login {
  border:1px;
  padding: 5px;
  width: 108px;
  font-size: large;
  margin-left: 10%;
  margin-top: 32px;
  border-radius: 5px;
  color: white;
  background-color: #008080;
}
.register {
  padding: 5px;
  width: 108px;
  font-size: large;
  margin-left: 15%;
  margin-top: 32px;
  border-radius: 5px;
  border:#008080;
}

.fro {
  color: aqua;
}
.logImage {
  border-radius: 48px;
  width: 920px;
}
a{text-decoration: noe;}